 <div class='flex flex--wrap' >
      <div class="flex--center u-1/1-desk u-1/1-lap u-lap-and-up-mv- u-lap-and-up-pv- div-car-list">

        <div class="flex flex--row flex--middle u-lap-and-up-m">
          <div class="flex__item--middle">
            <img class="car-list" src="{{carDetails.main_picture}}" />
          </div>
          <div class="flex__item--top flex__item u-lap-and-up-ph">
            <div class="flex flex--col" tabindex="1">
              <span class="u-lap-and-up-pb u-lap-and-up-mb">{{carDetails.name}}</span>
              <span class="epsilon label--gray4 u-pr">{{carDetails.location}}</span>
            </div>
          </div>
          <div class="flex__item--top u-lap-and-up-ph">
            <div class="flex flex--col" tabindex="1">
              <span class="regular--blue u-pb--">{{carDetails.price}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>