.div-car-list{
  background: white;
  color: #364c59;
}
.div-car-list:hover,
.div-car-list:focus{
 border: 1px solid rgba(0, 122, 204, 0.5);
}
.car-list{
  width: 10em;
  height: 7em;
}
.header{
  background: white;
  width:100vw;
  height: 60px;
}

.footer{
  background: gray;
  width:100vw;
  height: 60px;
}

.body-height {
  height: calc(100vh - 160px);
}

.div-scroll-body {
  overflow: hidden !important;
  overflow-y: overlay !important;
}

.div-scroll-body::-webkit-scrollbar {
    width: 5px;
  }

  .div-scroll-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  .div-scroll-body::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #b8b8b8;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  }


    .div-scroll-body::-webkit-scrollbar-thumb:window-inactive {
    background: #b8b8b8;
  }


