<div class='flex flex--col flex--center flex--middle header'>
  <img src="../assets/images/logo.png" />
  <!--<span (click)='goBack()'>Carmudi  </span>-->
</div>
  <div *ngIf='!detailPage' class='flex flex--col flex--center flex--middle'>
      <!--<div class="u-1/3-desk u-1/2-lap u-lap-and-up-mv- u-lap-and-up-pv">-->
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination u-lap-and-up-mv- u-lap-and-up-ph ">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
      </ul>
      <!--</div>-->
    </div>
<div class="div-body div-scroll-body body-height">

  <div *ngIf='mainPage'>
  
    <div class='flex flex--col flex--middle' *ngFor="let carList of pagedItems">
      <div class="flex--center u-1/3-desk u-1/2-lap u-lap-and-up-mv- u-lap-and-up-pv- div-car-list" (click)="viewCarList(carList.id)">

        <div class="flex flex--row flex--middle u-lap-and-up-m">
          <div class="flex__item--middle">
            <img class="car-list" src="{{carList.main_picture}}" />
          </div>
          <div class="flex__item--top flex__item u-lap-and-up-ph">
            <div class="flex flex--col" tabindex="1">
              <span class="u-lap-and-up-pb u-lap-and-up-mb">{{carList.name}}</span>
              <span class="epsilon label--gray4 u-pr">{{carList.location}}</span>
            </div>
          </div>
          <div class="flex__item--top u-lap-and-up-ph">
            <div class="flex flex--col" tabindex="1">
              <span class="regular--blue u-pb--">{{carList.price}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf='detailPage'>
    <car-detail [carDetails]="carDetails"></car-detail>
  </div>
</div>


<div class='flex flex--row flex--left flex--middle footer'>
  <img src="../assets/images/logo.png" />
  <!--<span (click)='goBack()'>Carmudi  </span>-->
</div>
