/* You can add global styles to this file, and also import other style files */

h2 { color: #444; font-weight: lighter; }
body { background: #ebeff2; }
body, input[text], button { color: #888; font-family: Cambria, Georgia; }
button { padding: 0.2em; font-size: 14px}
html { overflow: hidden}

* { font-family: Arial; }
